In [1]:
#enter the names of the dataframes 
filenames = [str(x) for x in input("Enter the name of files with space in between : ").split()]

Enter the name of files with space in between : Day_1 Day_2 Day_3 Day_4

In [2]:
filenames

['Day_1', 'Day_2', 'Day_3', 'Day_4']

In [32]:
import pandas as pd 
import numpy as np 
from functools import reduce
import os 
import openpyxl

ModuleNotFoundError: No module named 'openpyxl'

In [3]:
source1 = pd.read_excel('Day_1.xlsx', sheet_name = 'PSC Totals', skiprows = 8)
source2 = source1.iloc[:,7]

In [4]:
source1

,PSC,Bout Grams,Bouts,Bout Seconds,% Time in Bouts,Seconds/ Bout,Grams/ Bout,Meal Grams,Meals,Meal Seconds,% Time in Meals,Seconds/ Meal,Grams/ Meal,Bouts/ Meal,Total Seconds
0,5,15.73,77,1617,3.21,21.00,0.20,15.75,6,6585,13.07,1097.50,2.62,12.83,50400
1,9,17.28,75,2113,4.19,28.17,0.23,17.28,5,6264,12.43,1252.80,3.46,15.00,50400
2,11,14.25,71,2216,4.40,31.21,0.20,14.40,7,5695,11.30,813.57,2.06,10.14,50400
3,13,21.76,112,2966,5.88,26.48,0.19,21.76,7,9591,19.03,1370.14,3.11,16.00,50400
4,15,19.51,76,4529,8.99,59.59,0.26,19.51,5,9544,18.94,1908.80,3.90,15.20,50400
5,17,20.94,84,1939,3.85,23.08,0.25,20.94,5,8139,16.15,1627.80,4.19,16.80,50400
6,19,21.49,88,1933,3.84,21.97,0.24,21.33,7,6710,13.31,958.57,3.05,12.57,50400
7,21,15.18,71,1972,3.91,27.77,0.21,15.17,5,4729,9.38,945.80,3.03,14.20,50400
8,23,18.73,93,3497,6.94,37.60,0.20,18.74,6,13435,26.66,2239.17,3.12,15.50,50400
9,27,16.37,72,2336,4.63,32.44,0.23,16.38,8,8109,16.09,1013.62,2.05,9.00,50400
10,29,13.94,60,974,1.93,16.23,0.23,13.94,6,4766,9.46,794.33,2.32,10.00,50400
11,31,15.86,74,2280,4.52,30.81,0.21,15.86,11,5821,11.55,529.18,1.44,6.73,50400

In [4]:
list_control = [27,29,31] 
list_shams = [5,9,11,19,21,23]
list_stimulated = [13,15,17]
rat_category = {'controls': list_control,'shams': list_shams,'stimulated': list_stimulated}

In [5]:
rat_category

{'controls': [27, 29, 31],
 'shams': [5, 9, 11, 19, 21, 23],
 'stimulated': [13, 15, 17]}

In [6]:
'''
df_1 = dataframe with only the value of total intake, meal size etc 
df_2 = dataframe with value of total intake, meal size etc + column for rat type too 

'''

def tabulate(filenames, result_page , rat_category):
    day_wise_result = []
    final_df = pd.DataFrame()
    #for each day in filenames 
    for day in filenames: 
        if not day.endswith('.xlsx'):
            day = day + '.xlsx'
        
        df = pd.read_excel(day,sheet_name = 'PSC Totals', skiprows = 8)
        
        if result_page =='total intake':
            df_1 = df.iloc[:,7]
            
        elif result_page == 'meal number':
            df_1 = df.iloc[:,8]
            
        elif result_page == 'meal size':
            df_1 = df.iloc[:,12]
            
        elif result_page == 'intermeal interval':
            df_1 = df.iloc[:,11]
        else: 
            print("invalid result page")
            
        
    #making a list of type of rats and convert to dataframe 
        type_of_rat = [] 
        for index, row in df.iterrows():
            if row[0] in rat_category['controls']:
                type_of_rat.append('controls')
                
            elif row[0] in rat_category['shams']:
                type_of_rat.append('shams')
                
            elif row[0] in rat_category['stimulated']:
                type_of_rat.append('stimulated')
        
        type_of_rat = pd.DataFrame(np.array(type_of_rat))
        type_of_rat.columns = ['type_of_rat']
        
        df_2 = pd.concat([df_1, type_of_rat ], ignore_index=False, axis = 1)
        #now group df2 by type 
        df_2 = df_2.sort_values(by = "type_of_rat")
        #print(df_2)
        
        #now take only the
        #print(" ")
        #print("GROUP BY")
        #print(df_2)
        day_wise_result.append(df_2)
    
    
    #merging all the days dataframes into a single one    
    #result = reduce(lambda x, y: pd.merge(x, y, on = 'type_of_rat'), day_wise_result)
    for dfs in day_wise_result: 
        final_df = pd.concat([final_df,dfs.iloc[:,0]], axis = 1 )
    final_df.columns = filenames   
    final_df = pd.concat([final_df,type_of_rat.sort_values(by = 'type_of_rat')], axis = 1 )
    return final_df

In [107]:
to_be_printed = tabulate(filenames = filenames , result_page = 'total intake', rat_category = rat_category)

In [117]:
averages = to_be_printed.groupby(['type_of_rat']).mean()

In [118]:
averages

                 Day_1      Day_2      Day_3      Day_4
type_of_rat
controls     15.393333  14.796667  16.850000  16.146667
shams        17.111667  18.830000  18.493333  18.226667
stimulated   20.736667  18.343333  19.800000  19.553333

In [59]:
def transfer_data(filenames, result_page_list , rat_category, output_filename):
    writer = pd.ExcelWriter(output_filename + '.xlsx', engine='xlsxwriter')
    
    for sheetname in result_page_list: 
        if not output_filename.endswith('.xlsx'):
            output_filename = output_filename + '.xlsx'
            print(output_filename)
            
        final_df = tabulate(filenames, sheetname, rat_category)
        
        final_df.to_excel(writer, sheet_name=sheetname)
    
    writer.save()

In [62]:
#final function 
filenames = [str(x) for x in input("Enter the name of files with space in between : ").split()]

list_control = [27,29,31] 
list_shams = [5,9,11,19,21,23]
list_stimulated = [13,15,17]
rat_category = {'controls': list_control,'shams': list_shams,'stimulated': list_stimulated}

output_filename = input("Enter the ouput filename : ")

transfer_data(filenames = filenames, result_page_list=['total intake','meal number','meal size','intermeal interval'],
              rat_category = rat_category, output_filename = output_filename)

Enter the name of files with space in between : Day_1 Day_2 Day_3 Day_4
Enter the ouput filename : result1
result1.xlsx

In [51]:
os.getcwd() + '\result_generated.xlsx'

'D:\\PSYCH\\data_manipulation\result_generated.xlsx'